<%= render 'layouts/navbar' %>
<h1>Our Products</h1>
<p>Explore our collection of coffee blends, accessories, and apparel.</p>
<div>
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div>
        <h3><%= product.name %></h3>
        <p><%= number_to_currency(product.price) %></p>
      </div>
    <% end %>
  <% else %>
    <p>No products available.</p>
  <% end %>
</div>



<%= paginate @products %>