<h1>Your Cart </h1>
<% @current_cart.products.each do |product| %>
  <p><%= product.name %></p>
<% end %>

<div
  data-controller="stripe-checkout"
  data-stripe-checkout-url-value="<%= stripe_session_cart_path(@current_cart.secret_id)  %>">
</div>